Repository ainsleymcgrath/epoch-echo: changes, and which pre-commit hooks are due for each by the changed paths.
All: versioncheck, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        entry: flake8
        additional_dependencies: [flake8-docstrings]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/timothycrosley/isort
    rev: 5.6.4
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: versioncheck
        name: Check Versions Match
        entry: python -m scripts.versioncheck
        language: system
        files: (ee_cli/__init__\.py|pyproject.toml)
      - id: changelog-czar
        name: Changelog must be maintained
        entry: sh scripts/changelog-did-change.sh
        language: system
        stages: [push]
  - repo: local
    hooks:
      - id: mypy
        name: Type Checks
        language: python
        entry: mypy
        types: [python]

1.1.0
  CHANGELOG.md
  ee_cli/__init__.py
  pyproject.toml
Due: versioncheck, mypy

typos
  README.md
Due: none

silence docstring errors in tests
  .flake8
Due: none

fix incorrect condition in test
  ee_cli/test_ee.py
Due: mypy

slightly rework state management
  ee_cli/content.py
  ee_cli/main.py
Due: mypy

removes a try/except blobk in main.
  ee_cli/main.py
Due: mypy

just docstrings and types
  ee_cli/ui.py
Due: mypy

squash empty input bug
  ee_cli/content.py
  ee_cli/test_ee.py
Due: mypy

rename to clarify intent
  ee_cli/conftest.py
  ee_cli/main.py
  ee_cli/repl_content_state.py
Due: mypy

rider to aforementioned empty input bug
  ee_cli/test_ee.py
  ee_cli/ui.py
Due: mypy

bump!!!!
  CHANGELOG.md
  ee_cli/__init__.py
  pyproject.toml
Due: versioncheck, mypy

add env prefix, add new option
  ee_cli/settings.py
Due: mypy

show new tz element
  ee_cli/constants.py
  ee_cli/main.py
Due: mypy

fix tests
  ee_cli/constants.py
  ee_cli/main.py
  ee_cli/test_ee.py
Due: mypy

show env prefix
  ee_cli/constants.py
Due: mypy

version baby!
  CHANGELOG.md
  ee_cli/__init__.py
  ee_cli/constants.py
  pyproject.toml
Due: versioncheck, mypy

support some defaults
  ee_cli/constants.py
  ee_cli/test_ee.py
  ee_cli/utils.py
Due: mypy

document the change
  README.md
  ee_cli/main.py
Due: mypy

version bump\~
  CHANGELOG.md
  ee_cli/__init__.py
  pyproject.toml
Due: versioncheck, mypy

one more thing changed
  CHANGELOG.md
Due: none

regenerate usage doc
  USAGE.md
Due: none

VERSION 1.1.3 Squashed commit of the following:
  CHANGELOG.md
  README.md
  USAGE.md
  ee_cli/__init__.py
  ee_cli/constants.py
  ee_cli/main.py
  ee_cli/test_ee.py
  ee_cli/utils.py
  pyproject.toml
Due: versioncheck, mypy
